input {
  width: 15vw;
  height: auto;
  animation: rotation 10s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(365deg);
  }
}

input:hover {
  transform: scale(1.5);
}

.planets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  row-gap: 5vw;
  padding: 2vw;
}
.planet_animation {
  padding: 1.5rem;
}
